<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border" style="background-color: #90A4AE;">Download PDF CV</button>
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    
                    <div class="btn-link">Experiencia laboral</div>

                    <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                    <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>

                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Alten - QA</h2>
                    <br>
                    <p>Durante las prácticas de mi Grado Superior, trabajé en un proyecto de aseguramiento de la calidad (QA) junto a un equipo de desarrollo, colaborando en la detección y corrección de errores para mejorar la estabilidad del software. Participé en el diseño y ejecución de pruebas automatizadas con Selenium y Cucumber en Java, lo que me permitió profundizar en la automatización y optimización de procesos de testing.

                        Seguimos metodologías ágiles como SCRUM, asistiendo a reuniones de planificación, seguimiento y retrospectivas para mejorar continuamente el flujo de trabajo. Además, utilicé herramientas como Mantis BT para la gestión de incidencias y Git para el control de versiones, trabajando con ramas, merges y resolución de conflictos para mantener un flujo de desarrollo limpio y organizado. Me familiaricé con pull requests, revisión de código y buenas prácticas en repositorios compartidos, lo que me permitió colaborar eficazmente con el equipo.
                        Esta experiencia me permitió fortalecer mis conocimientos en testing manual y automatizado, así como mejorar mis habilidades en resolución de problemas y trabajo en equipo dentro de un flujo ágil.</p>
    
                </div>
    
            </accordion-group>
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    
                    <div class="btn-link">Educación</div>

                    <div *ngIf="!isEducationOpen" style="color: white;">></div>
                    <div *ngIf="isEducationOpen" style="color: white;">v</div>

                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Desarrollador AWS (2024)</h2>
                    <h4>Centro de estudios Tajamar</h4>
                    <br>
                    <h2 class="mb-0">Grado Superior DAM (2022-2024)</h2>
                    <h4>IES Calderón de la Barca</h4>
                </div>
    
            </accordion-group>
    

            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    
                    <div class="btn-link">Certificaciones</div>

                    <div *ngIf="!isCertificationsOpen" style="color: white;">></div>
                    <div *ngIf="isCertificationsOpen" style="color: white;">v</div>

                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">AWS Certified Developer - Associate</h2>
                    <br>
                    <img src="../../assets/aws-certified-developer-associate.png" alt="" class="custom-img">
    
                </div>
    
            </accordion-group>

        
            <!-- TODO:SKILLS 
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    
                    <div class="btn-link">Skills</div>

                    <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                    <div *ngIf="isSkillsOpen" style="color: white;">v</div>

                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Algo</h2>
                    <h3 class="text-primary">Algo menos importante</h3>
                    <ul>
                        <li>item1</li>
                        <li>item2</li>
    
                    </ul>
    
                </div>
    
            </accordion-group>
        -->

     
        </accordion>
    </div>




</div>
