<div class="container">
    <div class="row">
        <!--Aboutme-->
        <div class = "col-lg shadow border m-1">
            <div class="text-center">
                <h2>
                    About me
                </h2>
                <img src="../../assets/MIfOTO.png" alt="profile picture" class="rounded-circle img-fluid" style="width: 300px; height: 300px; object-fit: cover;" />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, optio! Beatae vero quam veniam voluptatibus deserunt placeat exercitationem assumenda aliquid doloribus. Nam nesciunt eligendi deleniti quasi quo odio reprehenderit magni!</p>
            </div>
        </div>
        <!--Featuredprojects-->
        <div class = "col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>

    </div>
</div>