<div class="container">
    <div class="row">
        <!--Aboutme-->
        <div class = "col-lg shadow border m-1">
            <div class="text-center">
                <h2>
                    Sobre mí
                </h2>
                <img src="assets/MIfOTO.png" alt="profile picture" class="rounded-circle img-fluid mb-4" style="width: 300px; height: 300px; object-fit: cover;" />
                <p>Soy un desarrollador apasionado por la tecnología y el aprendizaje continuo, siempre en busca de nuevos desafíos que me permitan crecer profesionalmente. Me especializo en escribir código limpio y eficiente, priorizando la colaboración y el trabajo en equipo para lograr soluciones innovadoras. Disfruto explorando nuevas tendencias en el mundo de la informática y aplicando mis conocimientos en proyectos creativos y funcionales. Fuera del ámbito profesional, valoro el tiempo con mi familia y amigos, y me gusta mantenerme inspirado a través de contenido educativo y de interés.</p>
            </div>
        </div>
        <!--Featuredprojects-->
        <div class = "col-lg shadow border m-1">
            <div class="text-center">
                <h2>Proyecto destacado</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>
            <br>
            <p class="mt-7">{{featuredProject.summary}}</p>
            <p>¡Visita la sección <b>Portfolio</b> para aprender más!</p>

        </div>

    </div>
</div>